/* Section Header */
.section-header .section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .section-header .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: #999;
  }
/* End of Section Header */
/* Navbar style */

.nav-item{
    margin: 0.5rem 1rem 0.5rem;
    font-family: 'Poppins', sans-serif;
}


.bg-dark{
  background-color:#014656 !important;
  opacity: 90% !important;
}

.dropdown-menu {
  background-color:#0295b6 !important;
  opacity: 90% !important;
}

/* Jumbotron */
.jumbotron{
  height: 50vh;
  vertical-align: bottom;
  }
.jumbotron .container{
  text-align: center;
    
}
.jumbotron .container h1{
  vertical-align: middle;
}

/* Info */


div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
}