/* Section Header */
.section-header .section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .section-header .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: #999;
  }
/* End of Section Header */
/* Navbar style */

.nav-item{
    margin: 0.5rem 1rem 0.5rem;
    font-family: 'Poppins', sans-serif;
}


.bg-dark{
  background-color:#014656 !important;
  opacity: 90% !important;
}

.dropdown-menu {
  background-color:#0295b6 !important;
  opacity: 90% !important;
}

/* Jumbotron */
.jumbotron{
  height: 50vh;
  vertical-align: bottom;
  }
.jumbotron .container{
  text-align: center;
    
}
.jumbotron .container h1{
  vertical-align: middle;
}

/* Info */
#info .col-sm{
  text-align: center;
  height: 200px;
}
#info .pic{
  display: inline-block;
  background-size: cover;
    
}
#info .infoImg1{
  background-image: url("https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg");
}
#info .infoImg2{
  background-image: url("https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg");
}
#info .infoImg3{
  background-image: url("https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg");
}
#info .infoImg4{
  background-image: url("https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg");
}