/* Navbar style */
.bg-light{
    background-color: transparent !important;
}

/* End Navbar Style */
/* Hero Style */

.carousel-inner {
    width: 100vw;
    height: 100vh;
}

.carousel-item{
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.carousel-item-1{
    background-image: url(https://d36tnp772eyphs.cloudfront.net/blogs/1/2014/05/Sunrise-at-Seongsan-Ilchulbong-Jeju-island-South-Korea.jpg);
}

.carousel-item-2{
    background-image: url(https://d36tnp772eyphs.cloudfront.net/blogs/1/2014/05/Sunrise-at-Seongsan-Ilchulbong-Jeju-island-South-Korea.jpg);
}

.carousel-item-3{
    background-image: url(https://d36tnp772eyphs.cloudfront.net/blogs/1/2014/05/Sunrise-at-Seongsan-Ilchulbong-Jeju-island-South-Korea.jpg);
}

/* End Hero Style */