/* Font Family */
h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}

/* 1. Navbar style */
.bg-light{
    background-color: transparent !important;
}

.nav-item{
    margin: 0.5rem 1rem 0.5rem;
    font-family: 'Poppins', sans-serif;
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.6) ;
}

/* End Navbar Style */

/* 2. Hero Style */

.carousel-inner {
    width: 100vw;
    height: 100vh;
}

.carousel-item::before{
    content: " ";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel-item{
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.carousel-item-1{
    background-image: url(img/Pulau-Hoga.jpg);
}

.carousel-item-2{
    background-image: url(img/Pulau-Hoga.jpg);
}

.carousel-item-3{
    background-image: url(img/Pulau-Hoga.jpg);
}


.carousel-caption{
    top: 20vh;
}

.carousel-caption h5{
    font-size: 72px ;
    font-style: bold;
    color: white;
    
}    
.carousel-caption h5:hover{
    font-size: 8.5vw ;
    font-style: bold;
    
    
}    

.carousel-caption p{
    font-size: 30px ;

}

.carousel-caption .btn-primary{
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 5vh;
    
}

@media (max-width: 768px) {

    .carousel-caption h5{
        font-size: 7vw ;
        font-style: bold;
        color: white;
    
    }    
    .carousel-caption p{
        font-size: 5vw ;
    }    
    .carousel-caption .btn-primary {
      padding:2px 4px;
      font-size:80%;
      line-height: 1;
    }
  }
  
  @media (max-width: 579px){
        .carousel-caption h5{
            font-size: 7vw ;
            font-style: bold;
            color: white;
        
        }    
        .carousel-caption p{
            display: none;
    }
  }


/* End Hero Style */

/* 3. About */
.about{
    margin: 20px 20px;
}

.shadow{
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
}

/* 3.1 About-Description */

/* End About-Description */

/* 3.2 About-Video */
.video-container{
    position: relative;
}

.about .video-box {
    position: relative;
 }
  
.about .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#428bca 50%, rgba(66, 139, 202, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}
  
.about .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
.about .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(66, 139, 202, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}
  
.about .play-btn:hover::after {
    border-left: 15px solid #428bca;
    transform: scale(20);
}
  
.about .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}
  
@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}
  
@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}
/* End About-Video */
/* End About */


