/* Font Family */
h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}
/* 1. Navbar style */
/* Section Header */
.section-header .section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
  }
 
  .section-header .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: #999;
  }
/* End of Section Header */
/* Navbar style */

.nav-item{
    margin: 0.5rem 1rem 0.5rem;
    font-family: 'Poppins', sans-serif;
}
.navbar-brand{
  font-family: 'Poppins', sans-serif;
}


.bg-dark{
  background-color:#014656 !important;
  opacity: 90% !important;
}

.dropdown-menu {
  background-color:#0295b6 !important;
  opacity: 90% !important;
}
.logo{
  max-height: 5rem;
  width: auto;
  margin-right: 2.5rem;
}


/* End Navbar Style */

/* 2. Hero Style */

.carousel-inner {
  width: 100vw;
  height: 100vh;
}

.carousel-item::before{
  content: " ";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel-item{
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
  
}

.carousel-item-1{
  background-image: url(img/carousel-1.jpg);
}

.carousel-item-2{
  background-image: url(img/carousel-2.jpg);
}

.carousel-item-3{
  background-image: url(img/carousel-3.jpg);
}


.carousel-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
  
  
}

.carousel-title h5{
  font-size: 48px ;
  font-style: bold;
  color: white;
  font-weight: 700;
  
}    

.carousel-title p{
  font-size: 30px ;
  
}


@media (max-width: 768px) {

  .carousel-title h5{
      font-size: 7vw ;
      font-style: bold;
      color: white;
  
  }    
  .carousel-title p{
      font-size: 5vw ;
  }    
  
}

@media (max-width: 579px){
      .carousel-title h5{
          font-size: 7vw ;
          font-style: bold;
          color: white;
      
      }    
      .carousel-title p{
          display: none;
  }
}
/* 2.2 Button */

.button{
  /* background-color: white;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  margin: 10px;
  border: 2px solid #fff; */
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 0 10px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  color: #fff;
  border: 2px solid #4abdcc;
}

.button:hover{
  background: #4abdcc;
  color: #fff;
  text-decoration: none;
}

/* Button */

/* End Hero Style */

/* Facts Section
--------------------------------*/
#facts {
    background: #f7f7f7;
    padding: 80px 0 60px 0;
  }
  
  #facts .counters span {
    font-size: 48px;
    display: block;
    color: #4abdcc;
  }
  
  #facts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }


  /* End of Facts Section */


/* End Hero Style */

/* 3. About */
.about{
    margin: 20px 20px;
}

.shadow{
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
}

/* 3.1 About-Description */
#about .description-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#about .description-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #4abdcc;
}

#about .description-container .icon-box .icon i {
  color: #4abdcc;
  font-size: 24px;
}

#about .description-container .icon-box .title {
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

#about .description-container .icon-box .title a {
  color: #111;
}

#about .description-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/* End About-Description */

/* 3.2 About-Video */
#about .video-container{
    position: relative;
    margin: auto;
}

  
#about .video-container .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#428bca 50%, rgba(66, 139, 202, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}
  
#about .video-container .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
#about .video-container .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(66, 139, 202, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}
  
#about .video-container .play-btn:hover::after {
    border-left: 15px solid #428bca;
    transform: scale(20);
}
  
#about .video-container .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}
  
@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}
  
@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}
/* End About-Video */
/* End About */



  /* Services Section
--------------------------------*/
#services {
    background: #fff;
    background-size: cover;
    padding: 80px 0 60px 0;
  }
  
  #services .box {
    padding: 50px 20px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #e6e6e6;
    height: 200px;
    position: relative;
    
  }    

  #services .box .bg-img{
    filter: blur(5px);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    
  }  

  
  #services .icon {
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
    background: #4abdcc;
  }
  
  #services .icon a {
    display: inline-block;
  }
  
  #services .icon i {
    color: #fff;
    font-size: 24px;
  }
  
  #services .box:hover .icon {
    background: #fff;
    border: 2px solid #4abdcc;
  }
  
  #services .box:hover .icon i {
    color: #4abdcc;
  }
  
  #services .box:hover .icon a {
    color: #4abdcc;
  }
  
  #services .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    position: relative;    
  }
  
  #services .title a {
    color: #111;
  }
  
  #services .description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    position: relative;
    
   
  }
/* Call to action section */
  #call-to-action {
    background: linear-gradient(rgba(0, 27, 40, 0.6), rgba(0, 27, 40, 0.6)), url(img/sumber-google.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
  }
  
  @media (max-width: 1024px) {
    #call-to-action {
      background-attachment: scroll;
    }
  }
  
  #call-to-action .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }
  
  #call-to-action .cta-text {
    color: #fff;
  }
  
  @media (min-width: 769px) {
    #call-to-action .cta-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  
  #call-to-action .cta-btn {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #call-to-action .cta-btn:hover {
    background: #4abdcc;
    border: 2px solid #4abdcc;
  }

  /* Footer */

  #footer {
    background: #014656;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .copyright {
    text-align: center;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
  }

  .UGM{
    padding-top: 10px;
    text-align: center;
  }
